body{
    margin: 0;
    padding: 0;
}



.nav img{
    height: 80px;
    width:80px ;
    float: right;
    padding-right: 50%;
}

.nav-left ul{
    list-style: none;
    padding-top: 30px;
    padding-left: 150px;
    
}

.nav-left ul li{
    display: inline;
}

.nav-left ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 10px;
}
/* header ends */

/* main starts */

.background{
    background-image: url(../images/the1.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;
    width: auto;
    font-family: 'Open Sans', sans-serif;
}

.content{
    padding-left: 150px;
    padding-top: 200px;
}
.content h3{
    font-size: 30px;
}

.content p{
    font-size: 20px;
}

#how{
    background-color: rgb(68, 66, 66);
    border: rgb(68, 66, 66);
    color: white;
    height: 25px;
    width: 150px;
}

.house{
    padding-top: 50px;
    padding-left: 100px;
    font-size: 15px;
    display: grid;
    grid-template-columns: auto auto auto auto;

}

/* steps start here */

.steps{
    padding-top: 30px;
    display: grid;
}

.step-1{
    display: grid;
    grid-template-columns: 50% 50%;
}

.three-flowers{
    background: url(../images/nice.png);
    background-size: cover;
    background-position: center;
    /* width: 800px; */
    height: 300px;
}

.one{
    background-color:rgb(212, 208, 208);
    padding-right: 50px;
    padding-top:  50px;
    padding-left: 100px;
}

#call{
    background-color: rgb(68, 66, 66);
    border: rgb(68, 66, 66);
    color: white;
    height: 10px;
}

.step-2{
    display: grid;
    grid-template-columns: 50% 50%;
}

.two{
    background-color:rgb(212, 208, 208);
    padding-right: 50px;
    padding-top:  50px;
    padding-left: 100px;
}


.pic{
    float: right;
    background: url(../images/use-twice.jpg);
    background-size: cover;
    background-position: center;
    /* width: 800px; */
    height: 300px;
}


#call{
    background-color: rgb(68, 66, 66);
    border: rgb(68, 66, 66);
    color: white;
    height: 10px;
}

.step-3{
    display: grid;
    grid-template-columns: 50% 50%;
}

.flower-man{
    background: url(../images/beautiful.jpg);
    background-size: cover;
    background-position: center;
    /* width: 800px; */
    height: 300px;
}

.three{
    background-color:rgb(212, 208, 208);
    padding-right: 50px;
    padding-top:  50px;
    padding-left: 100px;
}

#call{
    background-color: rgb(68, 66, 66);
    border: rgb(68, 66, 66);
    color: white;
    height: 20px;
}
/* main ends */

/* section starts */

.thirdpart{
    padding-top: 30px ;
}
 
.b-c{
    display: grid;
    grid-template-columns: auto auto;
} 

.bloom-car img{
    height: 500px;
    width: 400px ;
    padding-left: 265px;
}



.paragraph-1{
    padding-top: 100px; 
    padding-left: 50px;
}

.paragraph-1 p{
    /* padding-left: 80px; */
    padding-bottom: 50px;
    font-size: 20px;
}

.two-pics{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    padding-right: 300px;
} 

.pic-1 img{
    height: 200px;
    width: 200px;
}

.pic-2 img{
    height: 200px;
    width: 200px;
}

.b-c2{
    padding-top: 30px;
    display: grid;
    grid-template-columns: auto auto;
}
 
.paragraph-2{
    /* padding-top: 50px;  */
    padding-left: 265px;
} 
#b-t{
    height: 200px;
    width: 395px;
    background: #808080;
    color: #ffffff;
}

.threeand4-pic{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    padding-right: 200px;

}


.pic-3 img{
    height: 200px;
    width: 200px;
}

.pic-4 img{
    height: 200px;
    width: 200px;
    /* padding-left: -300px; */
}

.b-c3{
    padding-top: 30px;
    display: grid;
    grid-template-columns: auto auto;
}

.pic-5and6{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 5px;
    padding-left: 200px;
}

.pic-5 img{
    height: 200px;
    width: 200px;
}

.pic-6 img{
    height: 200px;
    width: 200px;
}

.pic-7 img{
    height: 200px;
    width: 600px;
    /* padding-right: 50px; */
}

.lets-get-started{
    padding-top: 30px;
    text-align: center;
}

.lets-get-started button{
    font-size: 15px;
    width: 900px;
    height: 50px;
    background: grey;
    color: #ffffff;
    padding-left: -300px;
}
/* section ends here */

/* footer starts */

.lastpart{
    background: #000000;
}

/* .nv{
    display: grid;
} */

.nv ul{
    list-style: none;
    text-align: center;
}

.nv ul li{
    display: inline;
}

.nv ul li a{
    text-decoration: none;
    padding: 10px;
    padding-top: -8px;
    color: #ffffff;
}

.copyright p{
    font-size: 10px;
    background: #dad7d7;
    text-align: center;
}








